﻿
@{
    ViewBag.Title = "Test2";
}

<h2>Test2</h2>

@using (Html.BeginForm("")) {
<div>
    <p>
        姓名： @Html.TextBox("name")<br />
    </p>
    
    <p>
        帳號： @Html.TextBox("zhanghao")<br />
    </p>
    
    <p>
        密碼： @Html.Password("psd")<br />
    </p>
    
    <p>
        性別： @Html.RadioButton("FM", "1")男性 @Html.RadioButton("FM", "0")女性<br />
    </p>
    
    <p>
        興趣： @Html.CheckBox("hp")游泳 @Html.CheckBox("hp")閱讀 @Html.CheckBox("hp")看電影
        <br />
    </p>
    
    <p>
        自我介紹： @Html.TextArea("me")
        <br />
    </p>
</div>
}
